<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Enabled" value="true"/>
    <add key="webpages:Version" value="3.0.0.0"/>
  </appSettings>
  <system.web>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="fingerprint" stopProcessing="true">
          <match url="(.*)(v-[0-9]+/)([\S]+)"/>
          <action type="Rewrite" url="{R:1}/{R:3}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>